annotated-types==0.6.0
async-timeout==4.0.3
backoff==2.2.1
boto3==1.28.63
botocore==1.31.63
cachetools==5.3.1
certifi==2024.7.4
charset-normalizer==3.3.0
docopt==0.6.2
idna==3.4
jmespath==1.0.1
monotonic==1.6
posthog==3.0.2
prompt-toolkit==3.0.39
pydantic
pyflakes==3.1.0
Pygments==2.16.1
python-dateutil==2.8.2
pyvim==3.0.3
pyvmomi==8.0.2.0
redis==5.0.1
requests==2.32.0
s3transfer==0.7.0
six==1.16.0
tinydb==4.8.0
typing_extensions==4.8.0
urllib3==2.0.6
wcwidth==0.2.8
